/* You can add global styles to this file, and also import other style files */
:root {
    --primary-theme-color: #e65b24;
    --togo-common-black: #111111;
    --common-transition: all 0.3s ease;
}

.user-main{
    width: 100vw;
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    width: 100%;
    transition: var(--common-transition);
}

.togo-header-2-sec .navbar-container {
    background: rgba(255, 255, 255, 0.01) !important;
    backdrop-filter: blur(20px);
    padding: 0.5rem 0 !important;
}

.togo-header-2-sec .navbar-container .logoContainer img {
    transition: var(--common-transition);
    width: 180px;
}

.togo-header-2-sec .navbar-container .logoContainer img:first-child {
    position: absolute;
    opacity: 0;
}

.togo-header-2-sec .navbar-container .logoContainer img:last-child {
    opacity: 1;
}

body:has(.togo-back-wrapper.togo-back-btn-show) .togo-header-2-sec .navbar-container .logoContainer img:first-child {
    opacity: 1;
}

body:has(.togo-back-wrapper.togo-back-btn-show) .togo-header-2-sec .navbar-container .logoContainer img:last-child {
    opacity: 0;
}

.togo-header-2-sec .navbar-container .togo a:hover {
    color: var(--primary-theme-color);
}

body:has(.togo-back-wrapper.togo-back-btn-show) .togo-header-2-sec .navbar-container .togo a,
body:has(.togo-back-wrapper.togo-back-btn-show) .togo-header-2-sec .navbar-container .togo-dropdown a {
    color: var(--togo-common-black);
}

body:has(.togo-back-wrapper.togo-back-btn-show) .togo-header-2-sec .togo-header-menu>nav>ul>li.togo-dropdown>a::after {
    color: var(--togo-common-black) !important;
}

.togo-header-2-sec .togo-header-menu>nav>ul>li.togo-dropdown>a:hover::after {
    color: var(--primary-theme-color) !important;
}

.togo-header-2-sec .togo-header-2-right .togo-header-2-cart svg,
.togo-header-2-sec .togo-header-2-right .togo-header-user svg {
    color: white !important;
    transition: var(--common-transition);
}

body:has(.togo-back-wrapper.togo-back-btn-show) .togo-header-2-sec .togo-header-2-right .togo-header-2-cart svg,
body:has(.togo-back-wrapper.togo-back-btn-show) .togo-header-2-sec .togo-header-2-right .togo-header-user svg {
    color: var(--togo-common-black) !important;
}

body:has(.togo-back-wrapper.togo-back-btn-show) header {
    background: white;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

.togo-hero-8-sec .togo-hero-2-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    z-index: 2;
    padding-top: 0;
    padding-bottom: 0;
    height: 100vh !important;
    transform: translateX(-50%);
    display: flex;
    align-items: flex-end;
}

.togo-back-btn:hover{
    color: #fff;
    background-color: var(--primary-theme-color);
}

.bottomAppBar{
    display: none;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: #fff;
    padding: 20px 0px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.bottomAppBar::after{
    content: '';
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    z-index: -2;
    width: 100%;
    height: 50px;
    background: linear-gradient(to top, #fff, transparent);
}

.bottomAppBar .navItem{
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 0rem;
    cursor: pointer;
    color: var(--togo-common-black);
    transition: var(--common-transition);
}
.bottomAppBar .navItem.active{
    padding-bottom: 0.5rem;
    color: var(--primary-theme-color);
}
.bottomAppBar .navItem::after{
    content: attr(data-item);
    position: absolute;
    bottom: 0rem;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.65rem;
    font-weight: 700;
    opacity: 0;
    color: var(--togo-common-black);
    transition: var(--common-transition);
}
.bottomAppBar .navItem.active::after{
    bottom: 0.4rem;
    opacity: 1;
    color: var(--primary-theme-color);
}

@media (max-width: 767px) {
    header {
        background: white;
        position: sticky;
    }

    body:has(.togo-back-wrapper.togo-back-btn-show) header {
        position: sticky;
    }

    .togo-header-2-sec .navbar-container {
        padding: 0rem !important;
    }

    .togo-header-2-sec .navbar-container .logoContainer img {
        width: 120px;
    }

    .togo-header-2-sec .navbar-container .logoContainer img:first-child {
        opacity: 1;
    }

    .togo-header-2-sec .navbar-container .logoContainer img:last-child {
        opacity: 0;
    }

    .togo-header-2-sec .togo-header-2-right .togo-header-2-cart svg,
    .togo-header-2-sec .togo-header-2-right .togo-header-user svg {
        color: var(--togo-common-black) !important;
    }

    .togo-hero-8-sec {
        height: 50vh;
        overflow: hidden;
    }

    .togo-hero-8-sec .togo-hero-2-item,
    .togo-hero-8-sec .togo-hero-8-wrapper,
    .togo-hero-8-sec .togo-hero-8-wrapper .swiper {
        height: inherit !important;
    }

    .bottomAppBar{
        display: flex;
    }

    .togo-back-wrapper.togo-back-btn-show{
        bottom: 100px !important;
    }
}